/* CSS declarations go here */

.tablewrapperlog {
    height: 70vh;
    overflow-y: scroll;
}

.tablewrapperdb {
    height: 60vh;
    overflow-y: scroll;
}

.fixbottomfooter {
    position:fixed;
    bottom:0;
    width:100%;
}